	
  	<div class="row">
    	<acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
	<div class="row">
	<div class="container">
		<h2>Shopping Cart</h2>
		
		<a href="/#/products">Add products to cart</a>
			
			<!-- <div ng-show='shop.getCart()'> -->
				<button ng-click="shop.emptyCart()">Empty cart</button>	
			<!-- </div> -->
			<table>
			  <thead>
			    <tr>
			      <th>Product</th>
			      <th>Amount</th>
			      <th>Price</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="(key, value) in shop.productList()">
							<!-- Product Title -->
			    	 <td> {{(value | toArray)[1]}} </td>
			    	  	<!-- Product Amount -->
			    	 <td> {{(value | toArray)[0]}} </td>
			    	  	<!-- Product Price -->
			    	 <td> {{(value | toArray)[2] | currency}} </td>

			    	 <td ng-click='shop.removeProd(key)'>Remove product</td>
			    <!-- <tr ng-repeat='product in shop.productList'> -->
			    		<!-- Product Title -->
			    	<!-- <td>{{product[2]}}</td>
			    	<!-- Amount of product -->
			    <!-- 	<td><span ng-click="shop.removeProdCart(product[0],product[2],product[3])"  class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>{{product[1]}}<span ng-click="shop.addProdCart(product[0],product[2],product[3])" class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>  -->
			    	<!-- Price of product -->
			    	<!-- <td>{{product[3] | currency}}</td> -->
			    	
		  		</tr>	
			</tbody>
		  </table>
	    </div>	
		<div >
	        <p>Total QTY: {{shop.total}}</p>
	        <p>Order Value: {{shop.totalPrice | currency}}</p>
	    </div>
	   
		<!-- Form for the buy now in paypal -->
		<div >
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	        <input type="hidden" name="cmd" value="_xclick">
	        <input type="hidden" name="business" value="karinfpe-store@yahoo.es">
	        <input type="hidden" name="lc" value="CA">
	        <input type="hidden" name="item_name" value="List of Items">
	        <!-- <input type="hidden" name="item_number" value="item_number"> -->
	        <input type="hidden" name="amount" value="{{totalPrice| currency}}">
	     
	        <input type="hidden" name="button_subtype" value="services">
	        <input type="hidden" name="no_note" value="0">
	        <!-- Calculate the tax rate in percent-->
	        <input type="hidden" name="tax_rate" value="14">
	        <input type="hidden" name="shipping" value="7.50">
	        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
			 <input type="image" src="http://www.paypalobjects.com/webstatic/en_US/btn/btn_buynow_107x26.png" name="submit" alt="Buy Now">
	        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	      </form>
	    </div>


		<div >
			 <span class="message-no-products">{{shop.message}}</span>

		</div>
		
	</div>