<div class="container-fluid">
<!-- To add each navbar -->
 
  	<div class="row">
    	<acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <!-- Form to search for specific product -->
   <div class="row product-search">
   		<div class="col-xs-6 col-xs-offset-3">
		    <form class="user_form" name="myForm">
		      <input class="product-search-input" type="text" ng-model="prod.userInput" placeholder="Search Product by Title">
		       <img class="loupe-icon" src="assets/images/loupe.png" id="input_img">
		    </form>
	    </div>
	</div>

     <section ng-show="prod.alertDisplayed"> Product added to cart</section>
    <div class="row product_images">
    <!-- Return the product filtering by title of user input. -->
      <div class="col-xs-5 col-md-4 col-lg-4 each_product" ng-repeat="product in prod.products | filter:{title: prod.userInput}">
        
          <h3><a data="{{product.id}}" href="#/product/{{product.id}}">{{product.title}}</a></h3>
          <a data="{{product.id}}" href="#/product/{{product.id}}"><img ng-src="assets/images/products/{{product.image}}"></a>
          <h4>{{product.price | currency}}</h4>
        
        <button class="btn btn-primary btn-block" ng-click="prod.addProd(product.id)">Add to Cart</button>
 
      </div>
     
    </div>
     <!-- Show this message if a product if not found. -->
    <div class="no-product" ng-show="!(prod.products| filter:{title:prod.userInput}).length">No product found</div>

 
  <!-- {{prod.products}} -->
</div>

