<div class="all-products-content container-fluid">
  <!-- To add each navbar -->
  
  <div class="row">
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>
<div class="fixed-message" growl ttl="10000"></div> <!-- adding the grow directive to html -->
<!-- Form to search for specific product -->
<div class="row product-search">
  <div class="col-xs-9 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <form class="user_form" name="myForm">
      <input class="product-search-input" type="text" ng-model="prod.userInput" placeholder="Search Product by Title">
      <img class="loupe-icon" src="assets/images/loupe.png" id="input_img">
    </form>
  </div>
</div>
<section ng-show="prod.alertDisplayed"> Product added to cart</section>
<!-- Return the product filtering by title of user input. -->
<div class=" product_images col-sm-4 col-md-4 col-lg-4" ng-repeat="product in prod.products | filter:{title: prod.userInput}">
<!-- <div class="image-size"> -->
<a class='image-size' ng-href="#/products/{{product.id}}"><img class="image-dimensions" ng-src="assets/images/products/{{product.image}}"></a>
<!-- </div> -->
<div class="float-elements">
  <h3><a ng-href="#/products/{{product.id}}">{{product.title}}</a><span class="bar-products">|</span><span class="price-product">{{product.price | currency}}</span></h3>
</div>
<!--  <button  ng-click="prod.addProd(product.id,product.title,product.price)">Add to Cart</button> -->
<div class="button-add" ng-click="prod.addProd(product)" >Add to cart</div>
</div>

<!-- Show this message if a product if not found. -->
<span class="no-product" ng-show="!(prod.products| filter:{title:prod.userInput}).length">No product found</></span>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
</div>